/* Custom styles */

.style1 .row {
    margin-bottom: 7em;
}


.style1 .row:last-child {
    margin-bottom: 3em;
}


.style2 input[type="email"] {
    color: #808080;
}

.wrapper.style2--alt {
    $stylealt: #E96C77;
    background-color: darken($stylealt, 5%);
}


.mt06 {
    margin-top: 0.6em;
}


.success {
    background-color: #87b885;
}

.success:hover {
    background-color: #94c190;
}


.hide {
    display: none;
}


.privacy {
    background-color: #393A47;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    z-index: 10002;
    width: 100%;
    display: none;


    p {
        margin: 0.8em 0 1.1em;
    }


    .privacy-dismiss {
        padding: 0 0.8em;
        height: 2.5em;
        line-height: 2.5em;
        font-size: 0.7em;
        position: absolute;
        right: 1.6em;
    }
}


/* Mobile rules */
@include breakpoint(mobile) {

    .hide-mobile {
        display: none;
    }


    .style2 .row {
        margin-bottom: 3em;
    }


    .subscribe {
        width: 100%;
        margin-top: 1em;
    }
}
