#page-wrapper {
	padding-top: 3em;
}

body.landing {
	#page-wrapper {
		padding-top: 0;
	}
}

@include keyframes('reveal-header') {
	0% { top: -5em; }
	100% { top: 0; }
}

#header {
	background: _palette(accent3, bg);
	color: _palette(accent3, fg);
	cursor: default;
	height: 3.5em;
	left: 0;
	line-height: 3.25em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;

	h1 {
		height: inherit;
		left: 1.25em;
		line-height: inherit;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;

		a {
			font-size: 1.25em;
			color: #fff !important;
		}
	}

	nav {
		height: inherit;
		line-height: inherit;
		position: absolute;
		right: 1.25em;
		top: 0;
		vertical-align: middle;

		> ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			> li {
				display: inline-block;
				margin-left: 3em;
				padding-left: 0;

				> ul {
					display: none;
				}

				a {
					color: #fff !important;
					display: inline-block;
					font-weight: _font(weight-bold);
					letter-spacing: 0.05em;
					text-decoration: none;
					text-indent: -0.05em;
					text-transform: uppercase;

					&.icon {
						&:before {
							margin-right: 0.75em;
							opacity: 0.5;
						}
					}
				}

				&.active {
					> a {
						color: #fff;
					}
				}

				&:first-child {
					margin-left: 0;
				}

				.button {
					height: 2.25em;
					line-height: 2.25em;
					margin-bottom: 0;
					padding: 0 1.25em;
					position: relative;
					top: -0.075em;
					vertical-align: middle;
				}
			}
		}
	}

	&.reveal {
		@include vendor('animation', 'reveal-header 0.5s');
	}

	&.alt {
		@include vendor('animation', 'none');
		background: none;
		margin-top: 0.75em;
		position: absolute;

		h1 {
			left: 2em;
		}

		nav {
			right: 2.5em;
		}
	}

	.container {
		position: relative;

		h1 {
			left: 0;
		}

		nav {
			right: 0;
		}
	}
}

.dropotron {
	background: _palette(bg);
	border: solid 1px _palette(border2);
	box-shadow: 0 0.15em 0.15em 0 rgba(0,0,0,0.05);
	color: _palette(fg);
	list-style: none;
	margin-top: -0.75em;
	min-width: 12em;
	padding: 0.75em 0;

	&.level-0 {
		font-size: 0.9em;
		margin-top: 1em;

		&:before {
			@include vendor('transform', 'rotate(45deg)');
			background: _palette(bg);
			border: 0;
			border-color: _palette(border2);
			border-style: solid;
			border-left-width: 1px;
			border-top-width: 1px;
			content: '';
			display: block;
			height: 1em;
			left: 50%;
			margin-left: -0.5em;
			position: absolute;
			top: -0.5em;
			width: 1em;
		}
	}

	li {
		border-top: solid 1px _palette(border);

		> a {
			@include vendor('transition', 'none');
			color: _palette(fg) !important;
			text-decoration: none;
			display: block;
			padding: 0.25em 0.75em;
		}

		&:first-child {
			border-top: 0;
		}

		&.active,
		&:hover {
			background: _palette(accent1, bg);

			> a {
				color: _palette(accent1, fg-bold) !important;
			}
		}
	}
}
