@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

/*
	Elevation by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

	@import "libs/skel";

	@include skel-breakpoints((
		wide: '(max-width: 1680px)',
		normal: '(max-width: 1280px)',
		narrow: '(max-width: 980px)',
		narrower: '(max-width: 840px)',
		mobile: '(max-width: 736px)',
		mobilep: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: 3em ),
		conditionals: true,
		containers: 75em,
		breakpoints: (
			wide: (
				grid: (
					gutters: 2.5em
				),
			),
			normal: (
				containers: 65em,
				grid: (
					gutters: 2em
				),
			),
			narrow: (
				containers: 90%,
			),
			narrower: (
				containers: (90%, true),
			),
			mobile: (
				containers: (100%, true),
			)
		)
	));

/* Basic */
@import "basic";

/* Section/Article */

	section, article {
		&.special {
			text-align: center;
		}
	}

	header {
		p {
			color: _palette(fg-light);
			margin: 0 0 (_size(element-margin) * 0.75) 0;
			position: relative;
		}

		h2 + p,
		.h2 +p {
			font-size: 1.25em;
			line-height: 1.5em;
			margin-top: -1em;
		}

		h3 + p {
			font-size: 1.1em;
			line-height: 1.5em;
			margin-top: -0.85em;
		}

		h4 + p,
		h5 + p,
		h6 + p {
			font-size: 0.9em;
			line-height: 1.5em;
			margin-top: -0.75em;
		}

		&.major {
			margin: 0 auto _size(element-margin) * 2 auto;
			max-width: 56.25em;
			text-align: center;

			> :first-child {
				white-space: nowrap;

				&:before {
					background-position: center right;
					margin-right: 1em;
				}

				&:after {
					@include vendor('transform', 'scaleX(-1)');
					background-position: center left;
					margin-left: 1em;
				}
			}

			p {
				color: _palette(fg);
				font-size: 1.1em;
				line-height: 1.65em;
				margin: 0 auto 0 auto;
			}
		}
	}

	footer {
	}

/* Form */
@import "forms";

/* Box */

	.box {
		background: #fff;
		box-shadow: 0 2px 0 0 rgba(0,0,0,0.1);
		margin-bottom: _size(element-margin);
		padding: 2.25em;

		> :last-child,
		> :last-child > :last-child,
		> :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		&.special {
			padding: 3em 2.25em;
		}

		&.alt {
			background: none;
			box-shadow: none;
			padding: 0;
		}
	}

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}

		&.major {
			@include vendor('background-image', 'linear-gradient(45deg, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0) 0%)');
			background-color: _palette(accent1, bg);
			border-radius: 100%;
			color: _palette(accent1, fg-bold);
			cursor: default;
			display: block;
			height: 4.5em;
			line-height: 4.5em;
			margin: 0 auto _size(element-margin) auto;
			text-align: center;
			width: 4.5em;

			&:before {
				font-size: 32px;
			}

			&.alt {
				background-color: _palette(accent2, bg);
				color: _palette(accent2, fg-bold);
			}
		}
	}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;

		img {
			display: block;
		}

		&.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		&.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		&.fit {
			display: block;
			margin: 0 0 _size(element-margin) 0;
			width: 100%;

			img {
				display: block;
				max-width: 100%;
			}
		}
	}

/* List */
@import "lists";

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 _size(element-margin) 0;
		width: 100%;

		tbody {
			tr {
				&:nth-child(2n + 1) {
					background-color: _palette(border-bg);
				}
			}
		}

		td {
			padding: 0.75em 0.75em;
		}

		th {
			color: _palette(fg-bold);
			font-size: 0.9em;
			font-weight: _font(weight-bold);
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		thead {
			border-bottom: solid 2px _palette(border);
		}

		tfoot {
			border-top: solid 2px _palette(border);
		}

		&.alt {
			border-collapse: separate;

			tbody {
				tr {
					td {
						border: solid 1px _palette(border);
						border-left-width: 0;
						border-top-width: 0;

						&:first-child {
							border-left-width: 1px;
						}
					}

					&:first-child {
						td {
							border-top-width: 1px;
						}
					}
				}
			}

			thead {
				border-bottom: 0;
			}

			tfoot {
				border-top: 0;
			}
		}
	}

/* Button */
@import "buttons";

/* Wrapper */

	.wrapper {
		padding: 6em 0;

		&.style1 {
			background: #f5f5f5;
		}

		&.style2 {
			background: _palette(accent1, bg);
			color: _palette(accent1, fg);

			h2, h3, h4, h5, h6,
			.h2, .h3, .h4, .h5, .h6,
			strong, b, th, label {
				color: _palette(accent1, fg-bold);
			}

			header {
				p {
					color: _palette(accent1, fg);
				}
			}

			.box {
				background: lighten(_palette(accent1, bg), 5);
			}

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			.button {
				color: _palette(accent1, bg) !important;
				background: _palette(accent1, fg-bold);

				&.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
					color: _palette(accent1, fg-bold) !important;

					&:hover {
						background-color: rgba(255,255,255,0.15);
					}

					&:active {
						background-color: rgba(255,255,255,0.25);
					}

					&.icon {
						&:before {
							color: _palette(accent1, fg-light);
						}
					}
				}
			}
		}

		&.style3 {
			background: #ffffff;
		}
	}

/* Header */
@import "header";

/* Banner */

	#banner {
		background-color: #333447;
		background-image: url('images/banner.svg');
		background-position: 25% bottom;
		background-repeat: repeat-x;
		background-size: 1500px 300px;
		color: #fff;
		padding: 16em 0 14em 0;
		text-align: center;

		:last-child {
			margin-bottom: 0;
		}

		h2, .h2 {
			color: inherit;
			font-size: 3em;
			line-height: 1.25em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		p {
			color: _palette(accent1, bg);
			font-size: 2em;
			margin-bottom: 1.75em;
		}

		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		.button {
			&.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255,255,255,0.5);
				color: _palette(accent1, fg-bold) !important;

				&:hover {
					background-color: rgba(255,255,255,0.15);
				}

				&:active {
					background-color: rgba(255,255,255,0.25);
				}

				&.icon {
					&:before {
						color: _palette(accent1, fg-light);
					}
				}
			}
		}
	}

/* Footer */

	#footer {
		background: #ececec;
		color: #aaa;
		padding: 4em 0 4em 0;
		text-align: center;

		.copyright {
			font-size: 0.9em;
			margin: 2em 0 0 0;
			padding: 0;
		}

		.menu {
			li {
				border-color: #ccc;
			}

			a {
				color: inherit;
				text-decoration: none;
			}
		}
	}

/* Wide */

	@include breakpoint(wide) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

		/* Banner */

			#banner {
				background-size: 1125px 225px;
				padding: 12em 0 10em 0;
			}

	}

/* Normal */

	@include breakpoint(normal) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

		/* Section/Article */

			header {
				&.major {
					> :first-child {
						&:before,
						&:after {
							background-size: 75px 20px;
							width: 75px;
						}
					}
				}
			}

		/* Box */

			.box {
				padding: 1.75em 1.5em;

				&.special {
					padding: 3em 2.25em;
				}
			}

		/* Wrapper */

			.wrapper {
				padding: 5em 0;
			}

		/* Banner */

			#banner {
				background-size: 900px 180px;
				padding: 10em 0 8em 0;

				h2 {
					font-size: 2.5em;
				}
			}

	}

/* Narrow */

	@include breakpoint(narrow) {

		/* Basic */

			body, input, select, textarea {
				font-size: 11pt;
			}

	}

/* Narrower */
@import "narrower";

/* Mobile */
@import "mobile";
@import "custom";
