{% extends 'layout.html' %}

{% block title %}A community using data as a powerful mean toward positive impacts{% endblock %}

{% block description %}Data For Good aims at solving social and environmental issues using data science and technology. We are a community of thinkers and  developers that collaborate on meaningful projects with a positive and tangible impact on the world. 
​We share our knowledge and train other developers in order to expand our impact.{% endblock %}

{% block bodyclasses %}landing{% endblock %}

{% block headerclasses %}alt{% endblock %}

{% block main %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.0&appId=1480793242245346&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Banner -->
<section id="banner">
    <h1 class="h2">A Community Of Thinkers and developers<br>who collaborate on projects that matters.</h1>
    <p></p>
    <ul class="actions">
      <li><a class="button" style="width:200px;  background-color:#4EAD51;" href="#read-more" title="Our projects">Our projects</a></li>
      <li><a class="button" style="width:200px; background-color:#4EAD51;" href="#newsletter" title="Follow us">Follow us</a></li>
      <li><a class="button" style="width:200px; background-color:#4EAD51;" href="{{ '/contact-us' | url }}" title="join us">Join us</a></li>
      
    </ul>
</section>

<div class="wrapper style3 style3--alt">
    <section class="container 125%">
        <header class="major">
            <h2>Our Mission</h2>
        </header>
        <div class="row uniform">
            <div class="6u 12u(narrower)">
                <div class="image fit">
                    <img width="725" src="{{ '/static/images/Moving-Goals.gif' | url }}" alt="terminal screenshot" title="terminal screenshot">
                </div>
            </div>
            <div class="6u 12u(narrower)">
                <h3>data as a powerful mean toward positive impacts</h3>
                <p>Data For Good aims at solving social and environmental issues using data science and technology. We are a community of thinkers and  developers that collaborate on meaningful projects with a positive and tangible impact on the world.</p>
                <p>We share our knowledge and train other developers in order to expand our impact.</p>
            </div>
        </div>
    </section>
</div>
<!-- Two -->
    <div class="wrapper style2">
        <section class="container 75%">
            <header class="major">
                <h2 id="newsletter">Newsletter</h2>
                <p>Signup to receive updates!</p>
            </header>
            <div class="row uniform">
              <form method="POST" id="join" class="12u" data-ajax-form="join" action="https://formspree.io/newsletter@dataforgood.no">
		<input type="hidden" name="_subject" value="D4G News subscription" />
                    <div class="row">
                        <div class="hide" data-form-error="join">
                            <p>Something went wrong. Please check your email address and try again</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="8u 12u(narrower)">
                            <input type="email" name="email" id="email" placeholder="Email Address">
                        </div>
                        <div class="4u 12u(narrower)">
                            <input type="submit" value="Subscribe" class="subscribe" data-form-submit="join">
                        </div>
                    </div>
                </form>
                <div class="12u align-center hide" data-form-success="join">
                    <p class="h2">Thank you for your interest!</p>
                    <p>We'll be in touch soon</p>
                </div>
            </div>
        </section>
    </div>


<div class="wrapper style3" id="read-more">
    <section class="container">
        <header class="major mt06">
            <h2>Our Projects</h2>
        </header>
        <div class="row uniform">
            <div class="6u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt "><a href="https://github.com/bjornhjelle/orcatag/blob/master/README.md"><img style="height:4.5em;width:4.5em" src="{{ '/static/images/projectLogo_orcaTag.png' | url }}" alt="OrcaTag"></a></i>
                    <h3>OrcaTag</h3>
                    <p>Re-identify individual orcas</p>
                </div>
            </div>
            <div class="6u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt"><a href="https://github.com/DataForGood-Norway/ResoCrawl/blob/master/README.md"><img style="height:4.5em;width:4.5em" src="{{ '/static/images/projectLogo_UNtreaties.png' | url }}" alt="ResoCrawl"></a></i>
                    <h3>ResoCrawl</h3>
                    <p>Encourage countries to ratify UN treaties.</p>
                </div>
            </div>
        </div>
        <div class="row uniform">
            <div class="6u 12u(narrower)">
              <div class="box special align-center">
                    <i class="icon major alt"><a href="https://github.com/DataForGood-Norway/JobMatch/blob/master/README.md"><img style="height:4.5em;width:4.5em" src="{{ '/static/images/projectLogo_JobSearchCompanion.png' | url }}" alt="JobSearch Companion"></a></i>
                    <h3>JobMatch</h3>
                    <p>A digital companion to help diagnose your job search.</p>
                </div>
            </div>	  
            <div class="6u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt "><a href="https://github.com/DataForGood-Norway/Vertical-Farming-Analytics/blob/master/README.md"><img style="height:4.5em;width:4.5em" src="{{ '/static/images/projectLogo_VerticalFarm.png' | url }}" alt="Vertical Farming"></a></i>
                    <h3>Vertical Farm Analytics</h3>
                    <p>Help grow cleaner vegetables.</p>
                </div>
            </div>
        </div>
        <div class="row uniform">
            <div class="6u 12u(narrower)">
              <div class="box special align-center">
                    <i class="icon major alt"><a href="https://github.com/DataForGood-Norway/GirlsCanDoIt/blob/master/README.md"><img style="height:4.5em;width:4.5em" src="{{ '/static/images/projectLogo_GirlsCanDoIT_blackWhite.png' | url }}" alt="Girls Can Do IT"></a></i>
                    <h3>Girls Can Do IT</h3>
                    <p>Getting more girls and women to code, through workshops and mentoring.</p>
                </div>
            </div>	  
        </div>


	
    </section>
</div>

<!-- One -->
<div class="wrapper style1">
    <div class="align-center">
        <ul class="menu">
            <li>
                <a href="https://join.slack.com/t/dataforgood-norway/shared_invite/enQtMzY1ODE2OTI1MTY5LWY3YWMyZTkwMDU4NWEyMTcyNDRkNjE2OGQ1ZTBlMmJmODU5Njk3NzVhNWQyNWNhYjZiZjA0ZjQ1NDlmYmFhMTQ" title="Join us on dataforgood-norway.slack.com"><img src="{{ '/static/images/Invitations_Slack.png' | url }}" alt="Join us on Slack!" style="width: 65%"/></a>
            </li>
            <li>
                <a href="https://twitter.com/intent/follow?screen_name=DataForGoodNO" title="follow @DataForGoodNO on twitter" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @DataForGoodNO</a>
            </li>
	    <li>
	      <div class="fb-like" data-href="https://www.facebook.com/DataForGoodNO/" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
	    </li>
        </ul>
    </div>
</div>


{% endblock %}
