{% extends 'layout.html' %}

{% block title %}A community using data as a mean toward positive impacts{% endblock %}

{% block description %}Data For Good aims at solving social and environmental issues using data science and technology. We are a community of thinkers and  developers that collaborate on meaningful projects with a positive and tangible impact on the world. 
​We share our knowledge and train other developers in order to expand our impact.{% endblock %}

{% block bodyclasses %}landing{% endblock %}

{% block headerclasses %}alt{% endblock %}

{% block main %}
<!-- Banner -->
<section id="banner">
    <h1 class="h2">A Community Of Thinkers and developers<br>who collaborate on projects that matters.</h1>
    <p></p>
    <ul class="actions">
      <li><a class="button" style="width:200px;  background-color:#4EAD51;" href="#read-more" title="Our projects">Our projects</a></li>
      <li><a class="button" style="width:200px; background-color:#4EAD51;" href="#newsletter" title="Follow us">Follow us</a></li>
      <li><a class="button" style="width:200px; background-color:#4EAD51;" href="{{ '/contact-us' | url }}" title="join us">Join us</a></li>
      
    </ul>
</section>

<div class="wrapper style2 style2--alt">
    <section class="container 125%">
        <header class="major">
            <h2>Our Mission</h2>
        </header>
        <div class="row uniform">
            <div class="6u 12u(narrower)">
                <div class="image fit">
                    <img width="725" src="{{ '/static/images/Moving-Goals.gif' | url }}" alt="terminal screenshot" title="terminal screenshot">
                </div>
            </div>
            <div class="6u 12u(narrower)">
                <h3>data as a mean toward positive impacts</h3>
                <p>Data For Good aims at solving social and environmental issues using data science and technology. We are a community of thinkers and  developers that collaborate on meaningful projects with a positive and tangible impact on the world.</p>
                <p>We share our knowledge and train other developers in order to expand our impact.</p>
            </div>
        </div>
    </section>
</div>
<!-- Two -->
    <div class="wrapper style3">
        <section class="container 75%">
            <header class="major">
                <h2 id="newsletter">Newsletter</h2>
                <p>Signup to receive updates!</p>
            </header>
            <div class="row uniform">
              <form method="POST" id="join" class="12u" data-ajax-form="join" action="https://formspree.io/news@dataforgood.no">
		<input type="hidden" name="_subject" value="D4G News subscription" />
                    <div class="row">
                        <div class="hide" data-form-error="join">
                            <p>Something went wrong. Please check your email address and try again</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="8u 12u(narrower)">
                            <input type="email" name="email" id="email" placeholder="Email Address">
                        </div>
                        <div class="4u 12u(narrower)">
                            <input type="submit" value="Subscribe" class="subscribe" data-form-submit="join">
                        </div>
                    </div>
                </form>
                <div class="12u align-center hide" data-form-success="join">
                    <p class="h2">Thank you for your interest!</p>
                    <p>We'll be in touch soon</p>
                </div>
            </div>
        </section>
    </div>


<div class="wrapper style2" id="read-more">
    <section class="container">
        <header class="major mt06">
            <h2>Our Projects</h2>
        </header>
        <div class="row uniform">
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt "><img style="height:4.5em;width:4.5em" src="/static/css/images/projectLogo_orcaTag.png" alt="OrcaTag"></i>
                    <h3>OrcaTag</h3>
                    <p>Description missing.</p>
                </div>
            </div>
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt"><img style="height:4.5em;width:4.5em" src="/static/css/images/projectLogo_UNtreaties.png" alt="ResoCrawl"></i>
                    <h3>ResoCrawl</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt "><img style="height:4.5em;width:4.5em" src="/static/css/images/projectLogo_VerticalFarm.png" alt="Vertical Farming"></i>
                    <h3>Vertical Farm Analytics</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
        </div>
        <div class="row uniform">
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt fa-trophy"></i>
                    <h3>JobMatch</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt fa-line-chart"></i>
                    <h3>Next project</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt fa-comments"></i>
                    <h3>Next project</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
        </div>
        <div class="row uniform">
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt fa-trophy"></i>
                    <h3>Next projecct</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt fa-line-chart"></i>
                    <h3>Next project</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
            <div class="4u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt fa-comments"></i>
                    <h3>Next project</h3>
                    <p>Description missing. Change icon.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- One -->
<div class="wrapper style1">
    <div class="align-center">
        <ul class="menu">
            <li>
              <span class="hide-mobile">
                    <iframe src="https://ghbtns.com/github-btn.html?user=DataForGood-Norway&repo=read-this-first&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </span>
            </li>
            <li>
                <a href="https://twitter.com/intent/follow?screen_name=DataForGoodNO" title="follow @DataForGoodNO on twitter" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @DataForGoodNO</a>
            </li>

        </ul>
    </div>
</div>


{% endblock %}
