<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<title>{% block title %}{% endblock %} - DataForGood</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="{% block description %}{% endblock %}">
		<!-- open graph meta -->
		<meta property="og:title" content="{{ self.title() }} - DataForGood">
		<meta property="og:description" content="{{ self.description() }}">
		<meta property="og:url" content="http://dataforgood.no">
		<!-- stylesheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="{{ '/static/css/main.css' | url }}" />
	</head>
	<body class="{% block bodyclasses %}{% endblock %}">
		<div id="page-wrapper">
			<div class="align-center privacy">
			    <p>
			        <i class="fa fa-exclamation-circle"></i>
			        <span>
			            By using our website, you agree to our use of cookies. <a href="/privacy.html" title="Learn about our privacy policy">Learn more</a>
			        </span>
			        <button class="button privacy-dismiss">Close</button>
			    </p>
			</div>
			<!-- Header -->
			<header id="header" class="{% block headerclasses %}{% endblock %}">
		        <a href="/" title="home"><img src="{{ '/static/images/logo.svg' | url }}" height="55" title="DataForGood logo" alt="DataForGood logo"></a>
		        <nav id="nav">
		            <ul>
				<li{% if this._path == '/' %} class="active"{% endif
				  %}><a href="{{ '/'|url }}">Home</a></li>
				{% for href, title in [
				  ['/projects', 'Projects'],
				  ['/about', 'About']
				] %}
				  <li{% if this.is_child_of(href) %} class="active"{% endif
				    %}><a href="{{ href|url }}">{{ title }}</a></li>
				{% endfor %}
			      </ul>
		 </nav>
		    </header>
        	{% block main %}{% endblock %}
			{% include 'partials/footer.html' %}
		</div>
        {% include 'partials/scripts.html' %}
	</body>
</html>
