{% extends 'layout.html' %}

{% block title %}A community using data as a mean toward positive impacts{% endblock %}


{% block main %}

<div class="wrapper style2" id="read-more">
    <section class="container">
        <header class="major mt06">

        <h2>Our Projects</h2>
        </header>
        <div class="row uniform">
            <div class="6u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt "><a href="https://github.com/bjornhjelle/orcatag/blob/master/README.md"><img style="height:4.5em;width:4.5em" src="/static/css/images/projectLogo_orcaTag.png" alt="OrcaTag"></a></i>
                    <h3>OrcaTag</h3>
                    <p>Re-identify individual orcas</p>
                </div>
            </div>
            <div class="6u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt"><a href="https://github.com/DataForGood-Norway/ResoCrawl"><img style="height:4.5em;width:4.5em" src="/static/css/images/projectLogo_UNtreaties.png" alt="ResoCrawl"></a></i>
                    <h3>ResoCrawl</h3>
                    <p>Encourage countries to ratify UN treaties.</p>
                </div>
            </div>
        </div>
        <div class="row uniform">
            <div class="6u 12u(narrower)">
              <div class="box special align-center">
                    <i class="icon major alt"><a href="https://github.com/DataForGood-Norway/JobMatch"><img style="height:4.5em;width:4.5em" src="/static/css/images/projectLogo_JobSearchCompanion.png" alt="JobSearch Companion"></a></i>
                    <h3>JobMatch</h3>
                    <p>A digital companion to help diagnose your job search.</p>
                </div>
            </div>	  
            <div class="6u 12u(narrower)">
                <div class="box special align-center">
                    <i class="icon major alt "><img style="height:4.5em;width:4.5em" src="/static/css/images/projectLogo_VerticalFarm.png" alt="Vertical Farming"></i>
                    <h3>Vertical Farm Analytics</h3>
                    <p>Help grow cleaner vegetables.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- One -->
<div class="wrapper style1">
    <div class="align-center">
        <ul class="menu">
            <li>
              <span class="hide-mobile">
                    <iframe src="https://ghbtns.com/github-btn.html?user=DataForGood-Norway&repo=read-this-first&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                </span>
            </li>
            <li>
                <a href="https://twitter.com/intent/follow?screen_name=DataForGoodNO" title="follow @DataForGoodNO on twitter" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @DataForGoodNO</a>
            </li>

        </ul>
    </div>
</div>


{% endblock %}
